body {
    margin: 0;
    border-left: 300px;
    font-family: 'Montserrat', sans-serif;
    
  }

  html{
    scroll-behavior: smooth;
  }

  a:hover {
    color: orangered;
    cursor: pointer;
    }

  header div button:hover{
    
    background-color: transparent;
    border:2px solid white;
    color: white;

  }

nav{

    background-color: rgb(255, 255, 255);
    height: 80px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: x;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
  min-width: 50%;
  height: 100%;
}

#menu {
  display: flex;
  flex-direction: row;
  min-width: 50%;
  text-decoration: none;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  font-variant: normal;
}

nav img {
  height: 80%;
  /* width: 50px; */
}

header {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  height: 700px;
  background-size: cover;
  background-image: url(./images/mulhermaravilha.png);
  justify-content: center;

  color: white;
}

input::placeholder{

  text-align: center;
  font-size: 22px;
  
}

#tituloCapa {
  font-size: 80px;
  font-weight: bolder;
  padding-left: 200px;
  }

#subtituloCapa {
  font-size: 30px;
  padding-left: 200px;

}
#buttonCapa {
  
  background-color: white;
  height: 70px;
  width: 200px;
  color: rgb(192, 70, 22);
  font-size: 20px;
  margin-left: 80px;
  align-items: center;
  margin-left: 200px;
  border: 0px;
}

button{

  border-radius: 50px;
}

.Pesquisa {
  
  border-start-start-radius: 40px;
  height: 70px;
  background-color: rgb(255, 255, 255);
  font-size: 40;
  display: flex;
  justify-content: left;
  padding-left: 200px;
  padding-right: 200px;
}


.Pesquisa button{

  background-color: black;
  color: white;
  font-size: 20px;
  height: 40px;
  width: 170px;
  border: 0px;
  text-align: center;

}

.Pesquisa input{

  background-color: white;
  color: black;
  height: 40px;
  width: 700px;
  border-radius: 20px;
  border-style: solid;

    
}


h1{
  align-content: center;
  font-size: 40;
  padding-left: 200px;
}

.filmes {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 50px;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 25px;
  max-width: 1600px;

}

h2{

  font-size: 20px;
}

.galeria {

  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

}

.galeria button {
  border: 0;
  border-radius: 20px;
  height: 35px;
  width: 180px;
  font-size: 18px;
  justify-content: center;
  background-color: rgb(192, 70, 22);
  color: white;
}


.galeria img{

  height: 300px;
  width: 200px;
}

.frasedefeito{
  padding-left: 200px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  justify-content: left;
  gap: 5px;
  padding-bottom: 200px;
}

#l1{
  background-color: black;
  width: 250px;
  height: 55px;
  display: flex;
  align-items: center;
}


#l2{
  background-color: black;
  width: 450px;
  height: 55px;
  display: flex;
  align-items: center;
}

#l3{
  background-color: black;
  width: 450px;
  height: 55px;
  display: flex;
  align-items: center;
}

#l4{
  background-color: black;
  width: 540px;
  height: 55px;
  display: flex;
  align-items: center;
}
h3{
  font-size: 55px  ;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}
.destaque{

  background-color: rgb(32, 31, 31);
  color: white;
  height: 550px;
  padding-left: 200px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  
 
    
}

.titdestaque {

  font-size: 30px;
  color: white;
  font-weight: bold;
  background-color: rgb(32, 31, 31);
  padding-left: 200px;
  height: 100px;
  padding-top: 70px;
}

.destaque img {

  border-radius: 200px;
  width: 400px;
  height: 400px;
}

.txtdestaque {

  display: flex;
  flex-direction: column;
  align-items: left;
  
  
    
}

#titulotxtdestaque{
  font-size: 40px;
  color: rgb(192, 70, 22) ;
  font-weight: bold;

}

.destaque button{
  font-size: 15px;
  background-color:rgb(32, 31, 31);
  width: 150px;
  height: 50px;
  color: white;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: rgb(255, 255, 255);
  border: width 8px;  
}

#botaodestaque{
  padding-left: 200px;

}

#textodestaque {

  font-size: 18px;
  font-weight: 300;
  padding-left: 200px;
  width: 400px;
  line-height: 30px;
  text-align: justify;
}

#titcontato{
  background-color: rgb(192, 70, 22);
  height: 100px;
  gap: 5px;
  font-size: 35px;
  padding-left: 200px;
  font-weight: bold;
  color: white;
}  

.redes img{

width: 60px;
height: 60px;
display: flex;
}

.redes{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  padding-left: 200px;
  padding-top: 50px;
  gap: 20px;

}

.redetexto {

  background-color: rgb(192, 70, 22);
  height: 300px;
  color: white;
  display: flex;
  flex-direction: row;
  align-content: space-between;

}